.page {
  color: rgb(0, 0, 0);
  padding: 0 1rem;
  background: rgb(255, 255, 255);
  &_box {
    min-height: 70px;
    background: transparent;
    margin: 0 -1rem;
    font-size: 20px;
  }
  &_content {
    min-height: calc(100vh - 70px);
    background: white;
    color: black;
    &_data {
      position: absolute;
      width: 100%;
      min-height: calc(100vh - 70px);
    }
  }
}

mat-divider {
  margin-top: 5px;
  border: 2px solid #2260ff;
}

