<div class="container-fluid page">
  <div class="page_box p-3 ms-2">
    Home
    <mat-divider></mat-divider>
  </div>
  <div class="page_content position-relative">
    <div class="page_content_data position-absolute text-center">
      <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
          <a class="btn btn-primary p-2 m-2">
            <span class="text-light fw-semibold">Employee Detail</span>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a class="btn btn-danger p-2 m-2">Leave Record</a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a class="btn btn-success p-2 m-2">Work logs</a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a class="btn btn-warning p-2 m-2">Projects</a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
