<mat-nav-list>
  <div class="logo py-4">
    <h2 mat-subheader>Hrms.</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-2">
    <a mat-list-item routerLink="home" routerLinkActive="list-item-active">
      <mat-icon class="bg-light">home</mat-icon>
      <span class="text-light fw-semibold">Home</span>
    </a>
    <a mat-list-item routerLink="workallocation" routerLinkActive="list-item-active">
      <mat-icon class="bg-light">dashboard</mat-icon>
      <span class="text-light fw-semibold">Work Allocation</span>
    </a>
    <a mat-list-item routerLink="employee" routerLinkActive="list-item-active">
      <mat-icon class="bg-light">account_box</mat-icon>
      <span class="text-light fw-semibold">Employee</span>
    </a>
    <a mat-list-item routerLink="emp-leave" routerLinkActive="list-item-active">
      <mat-icon class="bg-light">queue</mat-icon>
      <span class="text-light fw-semibold">Leaves</span>
    </a>
    <a mat-list-item routerLink="emp-worklog" routerLinkActive="list-item-active">
      <mat-icon class="bg-light">assignment</mat-icon>
      <span class="text-light fw-semibold">Work Logs</span>
    </a>
    <a mat-list-item routerLink="emp-project" routerLinkActive="list-item-active">
      <mat-icon class="bg-light">note_add</mat-icon>
      <span class="text-light fw-semibold">Project</span>
    </a>
  </div>
</mat-nav-list>
